* {
  box-sizing: border-box;
}

:root {
}

.life-grid {
  background-color: hsl(0, 0%, 95%);
  padding: 20px;

  --box-size: 12px;
  --gutter: 2px;

  display: inline-grid;
  grid-template-columns: repeat(var(--num-col), var(--box-size));
  grid-template-rows: repeat(var(--num-row), var(--box-size));
  gap: var(--gutter);
}

.life-grid__box {
  border: 1px solid rgba(100, 148, 237, 0.6);
}

.life-grid__box--filled {
  background-color: hsla(219, 90%, 81%, 0.9);
}

.life-grid__box--row-start {
  grid-column: 1 / 2;
}
