* {
  box-sizing: border-box;
}

:root {
}

body {
  background-color: hsl(191, 54%, 92%);
}

.page-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.week-stats {
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;

  width: 300px;
  height: 200px;
  /* transition: content 1s linear 5s; */
}

.life-grid {
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;

  --box-size: 12px;
  --gutter: 2px;

  display: inline-grid;
  grid-template-columns: repeat(var(--num-col), var(--box-size));
  grid-template-rows: repeat(var(--num-row), var(--box-size));
  gap: var(--gutter);
}

.life-grid__box {
  border: 1px solid hsla(219, 79%, 66%, 0.6);
}

.life-grid__box--filled {
  background-color: hsla(219, 90%, 81%, 0.9);
}

.life-grid__box--row-start {
  grid-column: 1 / 2;
}

.life-grid__box--hovered {
  border: 2px solid hsl(219, 79%, 66%);
}
